* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: Bahnschrift;
  font-size: 20px;
}

.app {
  width: 100%;
  background: #0f0a04;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app_header_wrapper {
  background: #0f0a04;
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}

.app_header {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.app_header_img {
  width: 50px;
  height: 50px;
}

.app_header_links {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.app_header_links_child {
  transition: 0.3s;
}

.app_header_links_child:hover {
  color: #b452ff;
  text-decoration: underline;
}

.content1_wrapper{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #0f0a04;
  width: 70%;
  margin-top: 89px;
  height: 580px;
}

.content1{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.content1_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content1_text_wrapper {
  display: flex;
  flex-direction: column;
}

.content1_text-1 {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.content1_text-2 {
  color: white;
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
}

.content1_text-3 {
  color: #470087;
  font-size: 60px;
  font-weight: bold;
}

.content1_text-btns {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.content1_img {
  display: flex;
  align-items: flex-end;
}

.content1_abbr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.content1_abbr-1{
  color: white;
}

.content1_abbr-2{
  color: #470087;
}

.content2_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 60px 0;
  background-color: white;
  color: #470087;
}

.content2 {
  display: flex;
  flex-direction: row;
  width: 65%;
  justify-content: space-between;
  align-items: center;
}

.content2_text_words {
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
}

.content2_photo {
  cursor: pointer;
  background: #0f0a04;
  width: 33%;
  height: 366px;
  position: relative;
  left: 50px;
}

.content2_text_wrapper {
  width: 33%;
  height: 366px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content2_photo-1 {
  background-image: url("../images/6b271838f2b3b18971fa8b6428734680.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.content2_photo-2 {
  background-image: url("../images/2photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.content2_photo_haircut {
  position: relative;
  top: 250px;
  left: 35px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  width: 30%;
}

.content2_photo_price {
  position: relative;
  font-weight: bold;
  top: 270px;
  left: 35px;
  background: #b452ff;
  border-radius: 3px;
  width: 11%;
}