.wrapper {
    width: 100%;
    padding: 30px 15px;
    background-color: #0f0a04;
    display: flex;
    justify-content: center;
}

.content {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.find {
    line-height: 46px;
    font-family: "Open sans", sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 46px;
    padding-bottom: 25px;
}

.text {
    padding-left: 30px;
    color: #fff;
}

.adress {
    margin-top: 15px;
    border-top:5px solid;
    padding-top: 5px;
    border-left: 5px solid;
    padding-left: 5px;
    border-image-source: linear-gradient(90deg, rgba(56,0,115,1) 0%, rgba(9,9,121,1) 63%, rgba(143,83,219,1) 100%);
    border-image-slice: 1;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s linear;
}

.adress:hover {
    color: #b452ff;
}

.phone {
    border-image-source: linear-gradient(90deg, rgba(56,0,115,1) 0%, rgba(9,9,121,1) 63%, rgba(143,83,219,1) 100%);
    border-image-slice: 1;
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.2s linear;
}


.phone:hover {
    color: #b452ff;
}

.time {
    border-image-source: linear-gradient(90deg, rgba(56,0,115,1) 0%, rgba(9,9,121,1) 63%, rgba(143,83,219,1) 100%);
    border-image-slice: 1;
    border-bottom:5px solid;
    padding-bottom: 5px;
    border-right: 5px solid;
    padding-right: 5px;
}

.phone:after {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    background-image: url("../../../images/phone.png");
    background-size: cover;
    background-repeat: no-repeat;
}