:root {
    --gradient : linear-gradient(90deg, rgba(56,0,115,1) 0%, rgba(43,43,255,1) 63%, rgba(61,97,255,1));
}

.box {
    background-color: #0f0a04;
    width: 1100px;
    height: 430px;
    border: 10px solid;
    padding: 10px;
    border-image-source: linear-gradient(90deg, rgba(56,0,115,1) 0%, rgba(9,9,121,1) 63%, rgba(143,83,219,1) 100%);
    border-image-slice: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    scale: .8;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range:250px 500px;
}

.span {
    font-size: 40px;
    font-family: "Open sans", sans-serif;
    font-weight: 900;
    font-style: italic;
    background-image: var(--gradient);
    background-clip: text;
    color: transparent;
    animation: bg-animation 2s infinite alternate;
    background-size: 800%;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0 40px;
}

.block {
    width: 40%;
    background-color: #3a363b;
    display: flex;
    justify-content: space-between;
}

.img {
    width: 200px;
    height: 185px;
    background-image: url("../../../images/fifthImg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.first {
    background-color: #8f53db;
    font-family: "Comic Sans MS", sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
}

.second {
    display: flex;
    flex-direction: column;
}

.mark {
    font-family: "Open sans", sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 24px;
    color: #b452ff;
}

@keyframes fade-in {
    to {scale: 1; opacity: 1}
}



@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}